In [3]:
import pandas as pd

In [11]:
df=pd.read_csv("C:\\Users\\fhrt8\\FoodDelivery\\notebooks\\Data\\finalTrain.csv")

In [41]:
df.head().T

,0,1,2,3,4
ID,0xcdcd,0xd987,0x2784,0xc8b6,0xdb64
Delivery_person_ID,DEHRES17DEL01,KOCRES16DEL01,PUNERES13DEL03,LUDHRES15DEL02,KNPRES14DEL02
Delivery_person_Age,36.0,21.0,23.0,34.0,24.0
Delivery_person_Ratings,4.2,4.7,4.7,4.3,4.7
Restaurant_latitude,30.327968,10.003064,18.56245,30.899584,26.463504
Restaurant_longitude,78.046106,76.307589,73.916619,75.809346,80.372929
Delivery_location_latitude,30.397968,10.043064,18.65245,30.919584,26.593504
Delivery_location_longitude,78.116106,76.347589,74.006619,75.829346,80.502929
Order_Date,12-02-2022,13-02-2022,04-03-2022,13-02-2022,14-02-2022
Time_Orderd,21:55,14:55,17:30,09:20,19:50
Time_Order_picked,22:10,15:05,17:40,09:30,20:05
Weather_conditions,Fog,Stormy,Sandstorms,Sandstorms,Fog
Road_traffic_density,Jam,High,Medium,Low,Jam
Vehicle_condition,2,1,1,0,1
Type_of_order,Snack,Meal,Drinks,Buffet,Snack
Type_of_vehicle,motorcycle,motorcycle,scooter,motorcycle,scooter
multiple_deliveries,3.0,1.0,1.0,0.0,1.0
Festival,No,No,No,No,No
City,Metropolitian,Metropolitian,Metropolitian,Metropolitian,Metropolitian
Time_taken (min),46,23,21,20,41

In [14]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [16]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [18]:
df.shape

(45584, 20)

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Delivery_person_Age,43730.0,29.566911,5.815064,15.000000,25.000000,30.000000,35.000000,50.000000
Delivery_person_Ratings,43676.0,4.633774,0.334744,1.000000,4.500000,4.700000,4.900000,6.000000
Restaurant_latitude,45584.0,17.017948,8.185674,-30.905562,12.933284,18.551440,22.728163,30.914057
Restaurant_longitude,45584.0,70.229684,22.885575,-88.366217,73.170000,75.897963,78.044095,88.433452
Delivery_location_latitude,45584.0,17.465480,7.335562,0.010000,12.988453,18.633934,22.785049,31.054057
Delivery_location_longitude,45584.0,70.844161,21.120578,0.010000,73.280000,76.002574,78.107044,88.563452
Vehicle_condition,45584.0,1.023385,0.839055,0.000000,0.000000,1.000000,2.000000,3.000000
multiple_deliveries,44591.0,0.744635,0.572510,0.000000,0.000000,1.000000,1.000000,3.000000
Time_taken (min),45584.0,26.293963,9.384298,10.000000,19.000000,26.000000,32.000000,54.000000

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [42]:
df.duplicated().sum()

0

In [53]:
df['Delivery_person_ID'].unique()

array(['DEHRES17DEL01', 'KOCRES16DEL01', 'PUNERES13DEL03', ...,
       'KOCRES04DEL01', 'BHPRES06DEL03', 'GOARES03DEL03'], dtype=object)

In [57]:
df['Weather_conditions'].unique()

array(['Fog', 'Stormy', 'Sandstorms', 'Windy', 'Cloudy', 'Sunny', nan],
      dtype=object)

In [58]:
df['Road_traffic_density'].unique()

array(['Jam', 'High', 'Medium', 'Low', nan], dtype=object)

In [59]:
df['Vehicle_condition'].unique()

array([2, 1, 0, 3], dtype=int64)

In [60]:
df['Type_of_order'].unique()

array(['Snack', 'Meal', 'Drinks', 'Buffet'], dtype=object)

In [61]:
df['Type_of_vehicle'].unique()

array(['motorcycle', 'scooter', 'electric_scooter', 'bicycle'],
      dtype=object)

In [62]:
df['multiple_deliveries'].unique()

array([ 3.,  1.,  0., nan,  2.])

In [63]:
df['Festival'].unique()

array(['No', 'Yes', nan], dtype=object)

In [64]:
df['City'].unique()

array(['Metropolitian', 'Urban', 'Semi-Urban', nan], dtype=object)

In [85]:
df['Festival'].value_counts()

Festival
No     44688
Yes      896
Name: count, dtype: int64

In [79]:
df['Festival']=df['Festival'].fillna('No')

In [80]:
df['Festival'].unique()

array(['No', 'Yes'], dtype=object)

In [54]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [36]:
mean_Delivery_person_Age=np.mean(df['Delivery_person_Age'])

In [37]:
mean_Delivery_person_Age

29.566910587697233

In [83]:
df[df['Delivery_person_Age'].isnull()]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
33,0x4f0,MUMRES17DEL02,NaN,NaN,19.121999,72.908493,19.201999,72.988493,06-04-2022,NaN,18:35,Cloudy,Medium,1,Drinks,scooter,1.0,No,Metropolitian,33
65,0xa9f,BANGRES13DEL01,NaN,NaN,12.935662,77.614130,12.975662,77.654130,11-03-2022,NaN,15:30,NaN,NaN,1,Drinks,scooter,0.0,No,Metropolitian,19
111,0x6e2,VADRES06DEL01,NaN,NaN,22.312790,73.170283,22.422790,73.280283,02-04-2022,NaN,18:25,NaN,NaN,3,Snack,electric_scooter,0.0,No,Metropolitian,25
131,0x1ec7,PUNERES05DEL03,NaN,NaN,18.543626,73.905101,18.573626,73.935101,09-03-2022,NaN,23:40,Stormy,Low,2,Snack,scooter,0.0,No,NaN,19
170,0x1b58,JAPRES03DEL01,NaN,NaN,26.913483,75.803139,26.983483,75.873139,12-03-2022,NaN,17:50,Sandstorms,Medium,0,Drinks,motorcycle,0.0,No,Metropolitian,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45499,0x426b,HYDRES06DEL01,NaN,NaN,17.455894,78.375467,17.525894,78.445467,23-03-2022,17:55,0.75,Fog,Medium,0,Meal,motorcycle,1.0,No,Urban,36
45509,0x863,INDORES05DEL01,NaN,NaN,22.727021,75.884167,22.737021,75.894167,19-03-2022,NaN,11:40,NaN,NaN,3,Snack,electric_scooter,0.0,No,Metropolitian,25
45510,0xd0be,AGRRES07DEL01,NaN,NaN,27.160934,78.044095,27.170934,78.054095,13-02-2022,NaN,09:05,NaN,NaN,3,Meal,electric_scooter,1.0,No,Urban,17
45517,0x1ed1,JAPRES18DEL01,NaN,NaN,26.913987,75.752891,27.023987,75.862891,27-03-2022,20:35,20:45,Cloudy,Jam,2,Snack,scooter,0.0,No,Metropolitian,48
45557,0x1163,SURRES06DEL02,NaN,NaN,21.185047,72.808590,21.205047,72.828590,03-04-2022,NaN,10:50,Windy,Low,2,Meal,scooter,0.0,No,Urban,12

In [86]:
df=df.drop(labels=['ID','Delivery_person_ID'], axis=1)

In [87]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [89]:
df['Delivery_person_Age']=df['Delivery_person_Age'].fillna(mean_Delivery_person_Age)

In [98]:
~(df['Delivery_person_Age'].isnull())

0        True
1        True
2        True
3        True
4        True
         ...
45579    True
45580    True
45581    True
45582    True
45583    True
Name: Delivery_person_Age, Length: 45584, dtype: bool

In [97]:
df['Delivery_person_Age'].isna().sum()

0

In [99]:
df['Delivery_person_Ratings'].isna().sum()

1908

In [101]:
mean_Delivery_person_Ratings=np.mean(df['Delivery_person_Ratings'])

In [102]:
mean_Delivery_person_Ratings

4.6337736972250205

In [104]:
df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].fillna(mean_Delivery_person_Ratings)

In [110]:
df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].round(decimals=1)

In [111]:
df['Delivery_person_Ratings'].unique()

array([4.2, 4.7, 4.3, 4.5, 4. , 4.9, 4.1, 5. , 4.8, 3.5, 4.6, 4.4, 3.8,
       3.9, 3.7, 2.6, 2.5, 3.6, 3.1, 2.7, 1. , 3.2, 3.3, 6. , 3.4, 2.8,
       2.9, 3. ])

In [113]:
df.columns

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [121]:
df['Time_Orderd'].isnull().sum()

1731

In [122]:
from statistics import mode

In [124]:
mode(df['Time_Orderd'])

nan

In [125]:
df['Time_Orderd'].unique()

array(['21:55', '14:55', '17:30', '09:20', '19:50', '20:25', '20:30',
       '20:40', '21:15', '20:20', '22:30', '08:15', '19:30', '12:25',
       '18:35', '20:35', '23:20', '21:20', '23:35', '22:35', '23:25',
       '13:35', '21:35', '18:55', '14:15', '0.458333333', '09:45',
       '08:40', '0.958333333', '17:25', nan, '19:45', '19:10', '10:55',
       '21:40', '0.791666667', '16:45', '11:30', '15:10', '22:45',
       '22:10', '20:45', '22:50', '17:55', '09:25', '20:15', '22:25',
       '22:40', '23:50', '15:25', '10:20', '20:55', '10:40', '15:55',
       '20:10', '12:10', '15:30', '10:35', '21:10', '20:50', '12:35',
       '0.875', '23:40', '18:15', '18:20', '11:45', '12:45', '23:30',
       '10:50', '21:25', '10:10', '17:50', '22:20', '12:40', '23:55',
       '10:25', '08:45', '23:45', '19:55', '22:15', '23:10', '09:15',
       '18:25', '18:45', '16:50', '1', '14:20', '10:15', '08:50', '0.375',
       '17:45', '16:35', '08:30', '21:45', '19:40', '14:50', '18:10',
       '12:20', '12:50', '09:10', '12:30', '17:10', '19:15', '17:20',
       '18:30', '13:10', '19:35', '09:50', '0.625', '0.833333333',
       '10:30', '09:40', '15:35', '16:55', '22:55', '0.666666667', '0.75',
       '17:15', '21:30', '18:40', '11:10', '13:50', '0.416666667',
       '21:50', '11:50', '13:30', '0.916666667', '08:25', '11:20',
       '11:55', '09:30', '08:20', '08:10', '11:40', '23:15', '19:20',
       '12:15', '11:35', '11:15', '17:35', '17:40', '14:40', '18:50',
       '11:25', '14:25', '0.5', '16:10', '19:25', '08:55', '13:40',
       '0.708333333', '09:35', '08:35', '16:15', '13:20', '15:50',
       '15:20', '16:20', '14:30', '15:45', '16:40', '0.541666667',
       '12:55', '10:45', '13:25', '09:55', '15:15', '13:15',
       '0.583333333', '15:40', '16:25', '14:10', '13:45', '13:55',
       '14:35', '16:30', '14:45'], dtype=object)

In [187]:
df[df['Time_Orderd']=='1']

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
116,23.0,4.9,11.000762,76.981876,11.130762,77.111876,18-03-2022,1,24:15:00,Windy,Low,1,Meal,scooter,0.0,No,Metropolitian,18
599,38.0,4.8,23.234249,77.434007,23.294249,77.494007,11-02-2022,1,24:10:00,Fog,Low,1,Meal,scooter,1.0,No,Urban,17
696,39.0,4.5,17.431477,78.400350,17.521477,78.490350,02-03-2022,1,24:05:00,Fog,Low,2,Drinks,motorcycle,0.0,No,Metropolitian,37
825,33.0,4.7,13.029780,80.208812,13.059780,80.238812,09-03-2022,1,24:15:00,Sunny,Low,2,Drinks,scooter,0.0,No,Metropolitian,10
886,25.0,4.7,19.866969,75.318894,19.916969,75.368894,13-02-2022,1,24:10:00,Sandstorms,Low,1,Snack,scooter,1.0,No,Urban,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45076,26.0,5.0,9.985497,76.276999,10.095497,76.386999,16-02-2022,1,24:05:00,Fog,Low,2,Meal,motorcycle,0.0,No,Metropolitian,29
45095,32.0,4.8,26.891191,75.802083,26.971191,75.882083,02-03-2022,1,24:05:00,Cloudy,Low,0,Drinks,motorcycle,1.0,No,Metropolitian,41
45163,27.0,4.6,12.321214,76.621094,12.451214,76.751094,04-03-2022,1,24:05:00,Windy,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,18
45487,37.0,4.9,13.044694,80.261470,13.094694,80.311470,26-03-2022,1,24:15:00,Sunny,Low,2,Snack,scooter,1.0,No,NaN,12
45522,32.0,4.8,0.000000,0.000000,0.130000,0.130000,10-03-2022,1,24:10:00,Windy,Low,0,Snack,motorcycle,1.0,No,Urban,22

In [160]:
df['Time_Orderd'].dtype

dtype('O')

In [196]:
import datetime
time = 1
result = str(datetime.timedelta(hours=time))
print(result)

1:00:00

In [156]:
f= {
    'a': ['00:12:10', '00:10:12','0.97867868']
}

In [169]:
from datetime import datetime
d=pd.to_datetime(f['a'],infer_datetime_format=True)

C:\Users\fhrt8\AppData\Local\Temp\ipykernel_5572\3657407023.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  d=pd.to_datetime(f['a'],infer_datetime_format=True)
C:\Users\fhrt8\AppData\Local\Temp\ipykernel_5572\3657407023.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  d=pd.to_datetime(f['a'],infer_datetime_format=True)

DateParseError: day is out of range for month: 0.97867868, at position 2

In [161]:
(d['a']).str.split('.').str[1]

0         NaN
1         NaN
2    97867868
Name: a, dtype: object