# Model Training

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv("Data/finalTrain.csv")

In [27]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [28]:
df.dropna(axis=0,how='any',inplace=True)
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [29]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [30]:
df.drop(columns=['ID','Delivery_person_ID','Order_Date','Time_Orderd','Time_Order_picked','Type_of_order','Type_of_vehicle','Festival'],inplace=True)
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,multiple_deliveries,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,3.0,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,1.0,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,1.0,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,0.0,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,1.0,Metropolitian,41

In [31]:
df.dtypes

Delivery_person_Age            float64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Weather_conditions              object
Road_traffic_density            object
Vehicle_condition                int64
multiple_deliveries            float64
City                            object
Time_taken (min)                 int64
dtype: object

In [32]:
#Dividing into categorica columns and numerical columns
categorical_cols=['Weather_conditions','Road_traffic_density','City']
numerical_cols=['Delivery_person_Age','Delivery_person_Ratings','Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude','Vehicle_condition']

In [35]:
categorical_cols

['Weather_conditions', 'Road_traffic_density', 'City']

In [36]:
X=df.drop('Time_taken (min)', axis=1)
y=df['Time_taken (min)']

In [37]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,multiple_deliveries,City
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,3.0,Metropolitian
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,1.0,Metropolitian
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,1.0,Metropolitian
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,0.0,Metropolitian
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,1.0,Metropolitian

In [39]:
y

0        46
1        23
2        21
3        20
4        41
         ..
45579    32
45580    36
45581    16
45582    26
45583    36
Name: Time_taken (min), Length: 41359, dtype: int64

In [40]:
#Define custom ranking for each ordinal variable
Weather_conditions_category=["Fog","Stormy","Sandstorms","Windy","Cloudy","Sunny"]
Road_traffic_density_category=['Jam','High','Medium','Low']
City_category=['Metropolitian','Urban','Semi-Urban']

In [41]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [44]:
# Numerical Pipeline
num_pipeline = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ]
)

#Categorical Pipeline
cat_pipeline = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[Weather_conditions_category,Road_traffic_density_category,City_category])),
        ('scaler', StandardScaler())
    ]
)

preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
])

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=30)

In [47]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [48]:
X_train

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Restaurant_latitude,num_pipeline__Restaurant_longitude,num_pipeline__Delivery_location_latitude,num_pipeline__Delivery_location_longitude,num_pipeline__Vehicle_condition,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__City
0,-0.978989,-0.105115,-2.240448,-3.332625,-2.365533,-3.332299,-1.216884,0.899136,-1.292589,-0.541694
1,1.448667,-0.420928,0.717561,0.242538,0.737081,0.244708,0.004260,-0.274166,1.117984,-0.541694
2,1.622071,0.842325,0.245388,0.103083,0.231804,0.101484,0.004260,-0.860817,-1.292589,-0.541694
3,-1.499201,-1.684180,0.795902,0.688626,0.805495,0.686079,-1.216884,0.312485,1.117984,-0.541694
4,1.275263,-0.736741,0.229026,0.099226,0.213312,0.097157,1.225405,-0.274166,-0.489064,-0.541694
...,...,...,...,...,...,...,...,...,...,...
28946,-0.285373,0.210698,-0.945902,0.262806,-1.008724,0.263562,1.225405,1.485787,1.117984,1.771029
28947,1.101859,-0.105115,-0.637877,0.277995,-0.693013,0.276394,-1.216884,1.485787,0.314460,-0.541694
28948,-1.325797,-0.105115,1.290793,0.345146,1.331836,0.345430,-1.216884,0.899136,0.314460,-0.541694
28949,-0.978989,0.526512,0.660323,0.115223,0.663538,0.112682,0.004260,1.485787,1.117984,-0.541694
28950,-1.672605,0.526512,-0.944649,0.260270,-1.000605,0.263383,-1.216884,-0.860817,0.314460,-0.541694

In [49]:
# Model Training
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [50]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [51]:
regression.coef_

array([ 2.50372973e+00, -2.40775643e+00,  8.37346877e-02, -1.18554708e+03,
       -1.48890912e-01,  1.18560559e+03, -2.21582799e+00, -1.17801601e+00,
       -3.28179732e+00, -7.13442144e-01])

In [52]:
regression.intercept_

26.555248523367084

In [56]:
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mae, rmse, r2_square

In [59]:
#Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'ElasticNet':ElasticNet()
}

model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #make prediction
    y_pred=model.predict(X_test)
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 6.779029481473374
MAE: 5.394018168004119
R2 score 47.36778453534781
===================================


Lasso
Model Training Performance
RMSE: 7.420051670973546
MAE: 5.904459652711696
R2 score 36.94341230568783
===================================


Ridge
Model Training Performance
RMSE: 7.0266024624367125
MAE: 5.579714938182159
R2 score 43.45328592746598
===================================


ElasticNet
Model Training Performance
RMSE: 7.53318005408798
MAE: 6.002691794261308
R2 score 35.005994666064666
===================================

In [58]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet']